<div class="card" style="width: 18rem;">
    <img [attr.src]="adminProductElement?.scaledImage" class="img-fluid">
    <div class="card-body">
        <h5 class="card-title">{{adminProductElement.productName}}</h5>
        <p class="card-text">USD ${{adminProductElement.price}}</p>
        <p class="card-text" style="margin-bottom: -5%;">{{adminProductElement.category}}</p>
        <bar-rating [(rate)]="average" [readOnly]="true" [max]="5"></bar-rating>
        <button class="btn btn-primary" (click)="onProductDetails(adminProductElement.productId)">Details</button>
    </div>
</div>