<nav class="navbar navbar-expand-lg navbar-dark" id="header">
    <img src="https://cdn.dribbble.com/users/195708/screenshots/1943301/m1111.jpg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/category/women">Woman</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/category/men">Men</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/category/kids">Kids</a>
            </li>
            <li class="nav-item dropdown" *ngIf="authenticationService.isAuthenticated()" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product & Categories</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/admin-products" routerLinkActive="active">Product</a>
                    <a class="dropdown-item" routerLink="/category" routerLinkActive="active">Categories</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="authenticationService.isAuthenticated()" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiries & Replies</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="inquiries/inquiry">Inquiries</a>
                    <a class="dropdown-item" routerLink="inquiries/replies">Replies</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="authenticationService.isAuthenticated()">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orders</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="orders/pending">Pending</a>
                    <a class="dropdown-item" routerLink="orders/cancel-complete">Cancelled/Completed</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown dropleft">
                <button *ngIf="!authenticationService.loggedIn()" class="btn btn-primary" id="headerloginsign" style="width: 100%;" (click)="onLoginSignup()">Login / SignUp</button>
            </li>
            <li class="nav-item dropdown dropleft" *ngIf="authenticationService.loggedIn()">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-o" aria-hidden="true"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <ng-template [ngIf]="!authenticationService.loggedIn()">
                        <button class="btn btn-primary" id="headerloginsign" (click)="onLoginSignup()">Login / SignUp</button>
                    </ng-template>
                    <ng-template [ngIf]="authenticationService.loggedIn()">
                        <button class="btn btn-primary" id="logoutId" (click)="onLogout()">Logout</button>
                    </ng-template>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header dropdown-item dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-th-list" aria-hidden="true"></i> &nbsp; Orders

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" routerLink="pending"><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; Pending</a>
                        <a class="dropdown-item" routerLink="completed"><i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp; Completed</a>
                        <a class="dropdown-item" routerLink="cancelled"><i class="fa fa-ban" aria-hidden="true"></i> &nbsp; Cancelled</a>

                    </div>
                    <a class="dropdown-item" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; Profile</a>
                </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="my-wishlist" *ngIf="authenticationService.loggedIn()"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="badge badge-pill badge-light">{{wishlistCount}}</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="authenticationService.loggedIn()">
                <a class="nav-link" routerLink="my-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span class="badge badge-pill badge-light">{{cartListCount}}</span>
              </a>
            </li>

        </ul>
    </div>
</nav>