        .row {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: antiquewhite;
        }
        
        .col-md-8,
        .col-md-4 {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        .container-sm {
            padding: 12%;
            width: 100%;
            margin: 20%;
        }
        
        .card {
            margin: 5%;
            background-color: #4e3939c7;
        }
        
        img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
        
        input,
        .input-group-text,
        input[type=text]:focus,
        input[type=password]:focus {
            background: transparent;
            color: black;
            padding: 5%;
            color: white;
            border: none;
            border-bottom: 1px solid white;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-animation: autofill 0s forwards;
            animation: autofill 0s forwards;
        }
        
        .prepend {
            background-color: transparent;
        }
        
         ::placeholder {
            color: rgb(189, 189, 189);
        }
        
        button {
            border-radius: 18px;
            width: 100%;
            background-color: rgb(122, 32, 47);
            border: rgb(122, 32, 47);
        }
        /* removes the selected outline */
        
        input:focus,
        input.form-control:focus {
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
        
        a {
            color: black;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: auto;
        }
        
        button[disabled] {
            border-radius: 18px;
            background-color: rgb(122, 32, 47);
            border: rgb(122, 32, 47);
            width: 100%;
        }
        
        input.ng-invalid.ng-touched {
            border-color: #f50707;
        }
        
        .help-block {
            color: white;
        }
        
        @keyframes autofill {
            100% {
                background: transparent;
                color: inherit;
            }
        }
        
        @media screen and (max-width: 992px) {
            .container-sm {
                margin: 0;
                padding: 0;
                width: 90%;
            }
            #passwordClass {
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }