<div class="cartContainerHolder">
    <div class="item pirate">
        <div class="container_main">
            <div class=" card card-body">
                <img src="https://thumbs.dreamstime.com/b/cute-cartoon-smartphone-shopping-great-technology-concept-design-68084513.jpg" class="imageView">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Total</h6>
                    </div>
                    <div class="col-md-6" style="width: 100%;text-align: right;">
                        <h6>{{total}}.00</h6>
                    </div>
                    <!-- <button (click)="onPayment()"><i class="fa fa-money" aria-hidden="true"></i>&nbsp; Checkout</button> -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#payment" id="paymentButton"><i class="fa fa-money" aria-hidden="true"></i>&nbsp; Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="containersm">
        <div class="headerContainer">
            <hr>
            <p>My Cart</p>
            <hr>
        </div>
        <div class="item_list_div">
            <img id="emptyCart" *ngIf="count==0" src="https://i.pinimg.com/originals/2e/ac/fa/2eacfa305d7715bdcd86bb4956209038.png" class="img-fluid">
            <app-cart-item class="cartItem" *ngFor="let item of cartList" [cartElement]="item" [index]="item.cartId"></app-cart-item>
        </div>
    </div>
</div>

<app-payment-form class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="paymentmodal" aria-hidden="true"></app-payment-form>