.col-sm-4 {
    display: inline-block
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
}

.card-flip>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.container_main {
    width: 250px;
    height: 380px;
}

.imageView {
    height: 265px;
    width: 100%;
}

.card-body {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 18px;
    background-color: rgb(122, 32, 47);
    border: 1px solid rgb(122, 32, 47);
    color: white;
    margin: 0;
    padding: 0 10px 0 10px;
}

button:hover {
    border-radius: 18px;
    background-color: white;
    border: 1px solid rgb(122, 32, 47);
    color: rgb(122, 32, 47);
    margin: 0;
    padding: 0 10px 0 10px;
}

h5 {
    padding: 0;
    margin: 0;
}

#remove:hover {
    color: red;
}

.priceSizeData {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.qtyContainer {
    display: flex;
    justify-content: center;
    margin-top: -5%;
    width: 100%;
}

h6 {
    font-size: 0.9rem;
}