<div class="container_main">
    <div class="card card-flip h-100 text-center">
        <div class="card-body">
            <div class="container" style="display: flex;
            justify-content: flex-end;">
                <span style="position: absolute; cursor: pointer;" id="remove" type="button" (click)="onRemoveCartProduct(index)"><i class="fa fa-times"></i></span>
            </div>
            <img [attr.src]="cartElement?.product.scaledImage" class="imageView">
            <h6>{{cartElement.product.productName}}</h6>
            <div class="priceSizeData">
                <p>$ {{(cartElement.product.price).toFixed(2)}}</p>
                <p>{{cartElement.size}}</p>
            </div>
            <div class="qtyContainer">
                <form class="col-7">
                    <ng-number-picker (valueChange)="onSubmit(index)" [(value)]="cartElement.quantity" [min]="'1'" [max]="'cartElement.product.quantity'" [step]="'1'" [pickTimer]="'100'" [size]="'small'" #qty></ng-number-picker>
                </form>
            </div>
        </div>
    </div>
</div>