<div class="container">
    <div class="item pirate">
        <div class="container_main">
            <!-- <div class="card card-flip h-100 text-center"> -->
            <div class=" card card-body">
                <img src="https://thumbs.dreamstime.com/b/cute-cartoon-smartphone-shopping-great-technology-concept-design-68084513.jpg" class="imageView">

                <div class="row">
                    <div class="col-md-8">
                        <h6>Total</h6>
                    </div>
                    <div class="col-md-4">
                        <p>$00.00</p>
                        <!-- <button (click)="onAddCart()"><i class="fa fa-opencart"></i></button> -->
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <!-- <img src="/images/pirate.svg" width="100" alt="Item 1"> -->

    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum
            dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor
            sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit
            amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet
            consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur
            adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing
            elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit.
            Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint,
            consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur?
            Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur
            ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus,
            minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima
            maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime
            officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis
            sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi
            cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate
            eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum!
            Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis
            fugit similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit
            similique laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique
            laboriosam quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam
            quasi architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi
            architecto, temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto,
            temporibus totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus
            totam rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam
            rem officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem
            officia illo! LaudantiumLorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequuntur? Tenetur ducimus, minima maxime officiis sequi cupiditate eum! Officiis fugit similique laboriosam quasi architecto, temporibus totam rem officia
            illo! Laudantium!</p>
    </div>
</div>