<div class="modal fade" id="rate" tabindex="-1" role="dialog" aria-labelledby="rateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rateLabel">How was your product? Tell us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="rateReviewForm" (ngSubmit)="onSubitRate()">
                    <div class="form-group">
                        <section>
                            <bar-rating [(rate)]="average" [showText]="true" [titles]="['Bad', 'OK' , 'Good', 'Awesome','Loving it']" [readOnly]="false" [max]="5" formControlName="rate"></bar-rating>
                        </section>
                    </div>
                    <div class="form-group">
                        <textarea id="feedbackId" class="form-control" type="text" formControlName="feedback"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary closeBtnId" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary  rateBtnId" [disabled]="!rateReviewForm.valid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>