#addcategorycontain {
    width: 35%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn.btn-default:hover {
    background-color: rgb(122, 32, 47);
    border: 1px solid rgb(122, 32, 47);
    color: white;
}

.btn.btn-default {
    border-radius: 18px;
    background-color: white;
    border: 1px solid rgb(122, 32, 47);
    color: rgb(122, 32, 47);
    margin-left: 4%;
}

@media screen and (max-width: 992px) {
    .container-sm {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}