<div style="cursor: pointer" class=" card clearfix" [routerLink]="[index]" routerLinkActive="active">
    <div class="card-body" style="    margin: 0;
    padding: 1%;">
        <div class="col-md-12">
            <h5 class="card-title">Orders Id {{pendingElement.ordersId}}</h5>
            <div class="row">
                <div class="col-md-5">
                    <h6 class="card-subtitle mb-2 text-muted">Date: {{pendingElement.date}}</h6>
                </div>
                <div class="col-md-3">
                    <h6 class="card-subtitle mb-2 text-muted">Total:{{pendingElement.total}}</h6>
                </div>
                <!-- <div class="col-md-4">
                    <button class="btn btn-primary" (click)="onCancelPending()">Cancel Pending</button>
                </div> -->
            </div>
        </div>
    </div>
</div>