h3 {
    color: gray;
}

#selectSizeId {
    width: 30%;
    /* margin: 0%;
    margin-left: 5%; */
}

#quantityId {
    margin-left: 5%;
}

#sizecol,
#qtycol {
    display: flex;
    justify-content: space-evenly;
}

#imageDiv {
    margin: 0;
    padding: 0;
}

#addCart,
#wishlist {
    width: 100%;
    margin: 3%;
    border-radius: 18px;
    background-color: rgb(122, 32, 47);
    border: rgb(122, 32, 47);
}