<div class="card clearfix">
    <div class="card-body">
        <div class="nameDateContainer">
            <p> {{rateReviewElement.user.email}}</p>
            <p>{{rateReviewElement.date}}</p>
        </div>
        <div class="ratingStarContainer">
            <bar-rating [(rate)]="rateReviewElement.rate" [readOnly]="true" [max]="5" style="margin-top: -30px;"></bar-rating>
            <a type="button" (click)="this.openModal(rateReviewElement.rateReviewId)" style="margin-top: -8px;">View Rate</a>
        </div>
        <div class="feedBackContainer">
            <p id="reviews">{{rateReviewElement.feedback}}</p>
            <app-child></app-child>

        </div>
    </div>

</div>