    .btn.btn-primary {
        border-radius: 18px;
        background-color: rgb(122, 32, 47);
        border: rgb(122, 32, 47);
        color: white;
        width: 90%;
        margin-left: 4%;
    }
    
    .btn.btn-primary:hover {
        background-color: white;
        border: 1px solid rgb(122, 32, 47);
        color: black;
    }