<div style="cursor: pointer" class=" card clearfix" [routerLink]="[index]" routerLinkActive="active">
    <div class="card-body" style="display: flex;">
        <div class="col-md-5">
            <img [attr.src]="inquiryElement.product?.scaledImage" class="img-fluid">
        </div>
        <div class="col-md-7">
            <h5 class="card-title">{{inquiryElement.product.productName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{inquiryElement.date}} Date</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{inquiryElement.user.username}}</h6>
            <p class="card-text">{{inquiryElement.question}}</p>
        </div>
    </div>
</div>