<div class="container-sm">
    <div class="row" style="margin: 3%;">
        <div class="col-md-7">
            <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;   Product Searching">
            </div>
        </div>
        <div class="col-md-5">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addProduct" id="addProductButton">Add New Product</button>

            <div class="row">
                <div class="col">
                    <div class="container">
                        <app-add-product class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="addProductmodal" aria-hidden="true"></app-add-product>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
        <app-admin-product-list [searchText]="searchText"></app-admin-product-list>
    </div>
</div>