<div class="container-sm">
    <div class="row">
        <div class="col-md-4">
            <div class="container_main container-sm">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="container" style="display: flex;justify-content: flex-end;">
                            <span style="position: absolute;" id="notFavourite" *ngIf="isFavourite==false"><i class=" heart fa fa-heart-o"></i></span>
                            <span style="position: absolute;" id="favourite" *ngIf="isFavourite==true"><i class="heart fa fa-heart"></i></span>
                        </div><img [attr.src]="scaledImage" class="imageView">

                        <section>
                            <bar-rating [(rate)]="average" [readOnly]="true" [max]="5"></bar-rating>
                        </section>
                        <a type="button" (click)="onViewDetails(id)">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-rate-item class="rateItem" *ngFor="let item of rateReviewList" [rateReviewElement]="item" [index]="item.rateId"></app-rate-item>
            <img *ngIf="count==0" src="https://cdn0.iconfinder.com/data/icons/star-emoji-8/64/emoji-emotion-star-crying-sad-disappointed-512.png" style="margin-left: 33%; max-width: 33%;" class="img-fluid">
        </div>

    </div>
</div>