<div style="cursor: pointer" class=" card clearfix">
    <div class="card-body" style="display: flex;">
        <div class="col-md-5">
            <img [attr.src]="cartOrderElement?.cart.product.scaledImage" class="img-fluid">
        </div>
        <div class="col-md-7">
            <h5 class="card-title">Cart Orders Id {{cartOrderElement.cardOrderId}}</h5>
            <p class="card-text">Producct: {{cartOrderElement.cart.product.productName}}</p>
            <p class="card-text">Quantity: {{cartOrderElement.cart.quantity}}</p>
            <p class="card-text">Size: {{cartOrderElement.cart.size}}</p>
        </div>
    </div>
</div>