img {
    width: 45%;
}

.card-body {
    display: flex;
    padding: 0;
}

.containerImage {
    width: 314px;
    max-width: 120px;
    display: flex;
}

.imgContainer {
    width: 70%;
    height: 100%;
}

.qtypricesize {
    display: flex;
    justify-content: space-between;
}