<div class="containersm">
    <div class="row">
        <div class="col-7">
            <div class="headerContainer">
                <hr>
                <p>Completed</p>
                <hr>
            </div>
            <div class="item_list_div">
                <img *ngIf="count==0" src="https://cdn.dribbble.com/users/357929/screenshots/2276751/orderup-emptystate-sadbag.png" class="img-fluid">
                <app-customers-order-item class="orderItem" *ngFor="let item of completedOrdersList" [custOrderElement]="item"></app-customers-order-item>
            </div>
        </div>
        <div class="col-5">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>