.col-sm-4 {
    display: inline-block
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
}

.card-flip>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.container_main {
    width: 250px;
    height: 350px;
}

.imageView {
    height: 265px;
    width: 100%;
}

.card-body {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100%;
    margin: 3px 0px;
}

h5 {
    padding: 0;
    margin: 0;
}

#remove:hover {
    color: red;
}