.container {
    width: 100%;
    margin: 0;
    padding: 0;
}


/* .btn-secondary,
.btn-primary {
    width: 40%;
    background-color: #fff;
    border: 3px solid #3f9c90;
    color: black;
}

.btn-primary {
    background-color: #3f9c90;
} */

.btn.btn-primary {
    border-radius: 18px;
    background-color: rgb(122, 32, 47);
    border: rgb(122, 32, 47);
    color: white;
    /* width: 90%; */
    margin-left: 4%;
}

.btn.btn-primary:hover {
    background-color: white;
    border: 1px solid rgb(122, 32, 47);
    color: black;
}

.btn.btn-default:hover {
    background-color: rgb(122, 32, 47);
    border: 1px solid rgb(122, 32, 47);
    color: white;
}

.btn.btn-default {
    border-radius: 18px;
    background-color: white;
    border: rgb(122, 32, 47);
    color: rgb(122, 32, 47);
    /* width: 90%; */
    margin-left: 4%;
}

@media screen and (max-width: 992px) {
    .container-sm {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}