<ng-template #childmodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">User : {{username}} </h4>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form>
        <div class="modal-body">
            <div class="modalContainer">
                <h6>Date : {{date}} </h6>
                <bar-rating [(rate)]="rate" [readOnly]="true" [max]="5" style="margin-top: -30px;"></bar-rating>
            </div>
            <div class="form-group row m-b-15">
                <p>{{feedback}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-primary btn-sm ml-1">Save</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="hideModal()">Close</button>
        </div>
    </form>
</ng-template>